<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyStoreIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <MyStoreIntegration.Properties.Settings>
            <setting name="IdentityEndpoint" serializeAs="String">
                <value>https://localhost/PhoneRepairShop/identity</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>323BF95B-FBF3-7B3C-749A-42A4055066EC@MyTenant</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>Y7QozNgaaHAF2S7o62ZujQ</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Admin@123456789</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>api</value>
            </setting>
        </MyStoreIntegration.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultSoap" maxReceivedMessageSize="6553600">
          <security mode="Transport" />
        </binding>
        <binding name="DefaultSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/PhoneRepairShop/entity/Default/18.200.001"
        binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
        contract="Default.DefaultSoap" name="DefaultSoap" />
    </client>
  </system.serviceModel>
</configuration>