<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyBIIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultSoap" allowCookies="true" />
                <binding name="DefaultSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PhoneRepairShop/entity/Default/18.200.001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
                contract="Default.DefaultSoap" name="DefaultSoap" />
            <endpoint address="http://localhost/PhoneRepairShop/entity/ItemAvailabilityData/0001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap1"
                contract="ItemAvailabilityData.DefaultSoap" name="DefaultSoap1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MyBIIntegration.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Admin@123456789</value>
            </setting>
            <setting name="Tenant" serializeAs="String">
                <value>MyTenant</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>YOGIFON</value>
            </setting>
        </MyBIIntegration.Properties.Settings>
    </applicationSettings>
</configuration>